<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <!-- NLog configuration -->
  <nlog>
    <targets>
      <target name="console" type="ColoredConsole" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" />
      <target name="file" type="File" deleteOldFileOnStartup="true" fileName="c:\logs\test.log" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="LowLevelDesign.Samples.*" minlevel="Debug" writeTo="console" />
      <logger name="LowLevelDesign.Samples.*" minlevel="Debug" writeTo="file" />
      <logger name="Topshelf.*" minlevel="Debug" writeTo="console" />
      <logger name="Topshelf.*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
</configuration>
