<?xml version="1.0"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="MySql Data Provider" invariant="System.Data.MySqlClient" 
            type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" description="MySql data provider" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="MySqlTraceConnString" connectionString="Data Source=localhost;Initial Catalog=DiagnosticsDB;User Id=test;Password=test;" providerName="System.Data.MySqlClient" />
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="TestTrace" switchValue="Verbose">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="mysql" initializeData="MySqlTraceConnString" 
                            type="Essential.Diagnostics.SqlDatabaseTraceListener, Essential.Diagnostics"
                            applicationName="TestTrace"
                            commandText="call diagnostics_Trace_AddEntry(@ApplicationName, @Source, @Id, @EventType, @UtcDateTime, @MachineName, @AppDomainFriendlyName, @ProcessId, @ThreadName, @Message, @ActivityId, @RelatedActivityId, @LogicalOperationStack, @Data)" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>